// Navigation Styles here
.nav-item {
    padding: 5px 20px;
    border: 1px ;
    margin: 10pg;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    color: gray
  }